.order {
  padding: 40px;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.total {
  font-weight: 500;
  text-align: right;
}
