.subtotal {
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.gift {
  align-items: center;
}

.subtotal button {
  background: #f0c14b;
  width: 100%;
  height: 30%;
  margin-top: 13%;
}
