.header {
  height: 60px;
  /* height: 3.75rem; */
  display: flex;
  align-items: center;
  background-color: #131921;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  justify-content: space-evenly;
  width: 100vw;
  max-width: 100%;
  /* font-family: "Amazon Ember", Arial, sans-serif; */
  position: static;
  flex: 1 1 auto;
  flex-flow: row nowrap;
}
.logo {
  display: flex;
  margin-left: 10px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.logoIcon {
  background: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/new-nav-sprite-global-1x_blueheaven-account._CB658093869_.png")
    no-repeat -11px -11px;
  width: 96px;
  height: 30px;
  margin-bottom: -6px;
}
.de {
  color: white;
}
.logo:hover {
  border: 1px solid white;
}

.location {
  display: flex;
  margin: 10px 6px 10px 6px;
  padding: 9px;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
}

.locationIcon {
  background: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/new-nav-sprite-global-1x_blueheaven-account._CB658093869_.png")
    no-repeat -78px -341px;
  width: 16px;
  height: 19px;
  margin-right: -6px;
  margin-top: 8px;
}
.location:hover {
  border: 1px solid white;
}

.search {
  display: flex;

  flex: 1;
  align-items: center;
  border: 1px solid transparent;

  border-radius: 3px;

  /* justify-content: space-between; */
}

.dropdown {
  width: 50px;
  height: 39px;
  background-color: #ffffff;
  border-radius: 2px;
  text-align-last: center;
  border: 0;
  font-size: 14px;
}
.dropdown:hover {
  background-color: #dadada;
}
.searchInputBox {
  flex: 1;
  margin: -1px;
}
.searchInput {
  height: 39px;
  padding: 10px;

  border: 0;

  width: 100%;
}
.searchIconBox {
  background-color: #febd69;
  height: 39px;
  width: 47px;
  border-radius: 3px;
}
.searchIconBox:hover {
  background-color: #f08805;
}

.searchIcon {
  background: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937709_.png")
    no-repeat -10px -290px;
  width: 21px;
  height: 21px;
  margin: 11px 14px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 42px;
  margin-right: 10px;
  margin-left: 10px;
}

.flag {
  display: flex;
  color: white;
  padding: 12px;
  padding-right: 24px;
  border: 1px solid transparent;
  margin-right: 6px;
  align-items: center;
  margin-top: 42px;
  margin-bottom: -2px;
  border-radius: 3px;
  cursor: pointer;
}
.dropdownIcon {
  color: #a7acb2;
}

.flag:hover {
  border: 1px solid white;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  padding: 4px 6px 4px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.navIcon {
  background: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937709_.png")
    no-repeat -184px -342px;
  width: 13px;
  height: 8px;
}
.login:hover {
  border: 1px solid white;
}

.order {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  padding: 9px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.order:hover {
  border: 1px solid white;
}

.optionLineOne {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}

.optionLineTwo {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

.optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 15px;
  margin-top: 43px;
  padding: 9px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.optionBasket:hover {
  border: 1px solid white;
}
.basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.item {
  font-weight: bold;
  position: relative;
  left: -4px;
  top: -11px;
  color: #f08805;
}
.image {
  background: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/new-nav-sprite-global-1x_blueheaven-account._CB658093869_.png")
    no-repeat -11px -241px;
  width: 35px;
  height: 25px;
  margin-right: -18px;
}

.link {
  text-decoration: none;
}
.signOut:hover {
  cursor: pointer;
}
.account {
  display: flex;
  justify-content: space-between;
  margin: -13px 0 0 0;
}
.popoverText {
  display: block;
  font-size: 13px;
  color: #444;
  font-weight: 400px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 16px;
  padding: 0 0 7px;
}
.popoverText:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e47911;
}
.accountRight {
  border-left: 1px solid #eee;
  padding: 14px 69px 14px 27px;
}

.accountRightHead {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
  left: 20px;
}

.accountLeft {
  padding: 14px;
}

.accountLeftHead {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
  left: 20px;
}

.loginPopoverBasic {
  margin-top: -7px;
  width: 100%;
  max-width: 500px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.loginPopoverHeader {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.loginPopoverHeaderButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px 0 -10px 0;
}
.signInButton {
  width: 40%;
}
.newUserText {
  color: #444;
  margin: 7px 0 9px 0;
  font-size: 11px;
}
.newUserTextLink {
  text-decoration: none;
}
.newUserTextLink:hover {
  text-decoration: underline;
  color: #e47911;
}
.signOut {
  padding: 12px 0 0 0;
  border-top: 1px solid #eee;
  margin-top: 17px;
}
.navItem {
  position: relative;
  display: block;
  clear: both;
  font-family: inherit;
  line-height: 16px;
  padding: 0 0 7px;
  margin: 0;
  text-decoration: none;
  cursor: default;
}
.learnMore {
  font-size: 11px;
  margin-left: 5px;
  text-decoration: none;
  color: #007185;
}
.learnMore:hover {
  text-decoration: underline;
  color: #e47911;
}
.navDivider {
  position: relative;
  display: block;
  line-height: 1px;
  height: 1px;
  overflow: hidden;
  background: #eee;

  margin: 0 0 9px;
}
.changeCurrency {
  float: right;
  font-size: 12px;
  color: #007185;
}
.changeCurrency:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #e47911;
}
.navFlag {
  margin: 0 0.5em 0 0;
  position: relative;
  top: 4px;
  display: inline-block;
  width: 17px;
  height: 13px;
  background: url(https://m.media-amazon.com/images/S/sash/fe2UeLQmJ11kKHN.png);
  background-position: 0px -282px;
}
.changeCountry {
  margin-left: 25px;
  margin-top: 10px;
  color: #0066c0;
}
.changeCountry:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e47911;
}

.flagPopoverBasic {
  width: 100%;
  max-width: 240px;
  margin-top: -1px;
  font-family: "Amazon Ember", Arial, sans-serif;
}
.leftIcon {
  margin: 0 0.5em 0 0;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(https://m.media-amazon.com/images/S/sash/fe2UeLQmJ11kKHN.png);
  background-position: -75px -2px;
}
.navText {
  display: block;
  font-size: 13px;
  color: #444;
  font-weight: 400;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 0 7px;
}

.navText:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e47911;
}
.navText:hover .leftIcon {
  background-position: -123px -2px;
}
.addressModalHeader {
  border-bottom: 1px solid #d5d9d9;
  background-color: #f0f2f2;
  border-radius: 8px 8px 0 0;
  padding: 0 24px;
}
.bodyPartOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #565959 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}
.modalButton {
  padding: 9px;
}
.bodyPartTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #565959 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
} */
